os: linux
jobs:
  - arch: amd64
    env: TARGET=amd64
  - arch: ppc64le
    env: TARGET=ppc64le
        
language: java

before_install:
  - cd /opt
  - wget https://www-eu.apache.org/dist/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz
  - tar xzf apache-maven-3.6.3-bin.tar.gz
  - ln -s apache-maven-3.6.3 maven
  - find / -name ant
  - export M2_HOME=/opt/maven
  - export PATH=${M2_HOME}/bin:${PATH}
  
after_failure: print_surefire_reports.sh
